.wrapper-content {
  padding-top: var(--xs);
}

.profile-photo {
  width: 100%;
  border-radius: 20px;
}

.about {
  text-align: center;
}

.text {
  text-align: start;
  padding-left: var(--l);
}

.introduction {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--s);
}

@media (min-width: 720px) {
  .introduction {
    grid-template-columns: minmax(400px, 400px) 1fr;
  }
}
