.wrapper-content {
  padding-top: var(--unit-size-xs);
}

.profile-photo {
  width: 100%;
  border-radius: 10%;
  padding-top: 30px;
}

p {
  text-align: start;
  padding-left: var(--unit-size-l);
}

.introduction {
  display: grid;
  grid-template-columns: minmax(400px, 400px) 1fr;
  grid-gap: var(--unit-size-s);
}
