@import url("https://fonts.googleapis.com/css?family=Calligraffitti&display=swap");

:root {
  --text-color: hsl(0, 0%, 13%);
  --link-color: hsl(0, 0%, 13%);
  --heading-font-size: 60px;
  --body-font-size: 20px;
  --primary-color: white;
  --secondary-color: rgb(122, 216, 241);
  --unit-size: 8px;
  --unit-size-xss: 4px;
  --unit-size-xs: 16px;
  --unit-size-s: 24px;
  --unit-size-m: 32px;
  --unit-size-l: 64px;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Calligraffitti", cursive;
  font-size: var(--heading-font-size);
  text-align: center;
}

h2 {
  font-family: "Courier New", Courier, monospace, Helvetica, sans-serif;
  font-size: var(--body-font-size);
  text-align: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text-color);
  background-color: var(--primary-color);
  font-size: var(--body-font-size);
  line-height: 2;
}

.wrapper {
  min-width: 1000px;
}

.main-links a:link {
  color: black;
  padding: 10px;
}

.main-links a:visited {
  color: black;
}

.main-links a:hover {
  background-color: var(--secondary-color);
  border-radius: 15px;
}

.photo-logo {
  width: 50%;
  position: absolute;
  top: 50px;
}

.contact img {
  max-width: 30px;
}
.contact {
  position: relative;
  left: 1000px;
  top: -50px;
}

div.photo-menu {
  height: 25%;
  max-width: 80%;
  padding-left: 120px;
  padding-top: 10px;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
  position: relative;
  left: 100px;
  top: -45px;
  border-radius: var(--unit-size-m);
}

.profile-photo {
  height: 600px;
  position: relative;
  top: -40px;
  margin-left: 30%;
  flex: 50%;
  border-radius: var(--unit-size-m);
}

.container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
}

.travelphoto {
  height: 300px;
  border-radius: 50%;
}

.travelphoto:hover {
  transform: scale(1.2);
}

.title1 {
  background-color: azure;
}
