:root{
    --text-color: hsl(0, 0%, 13%);
    --link-color: hsl(0, 0%, 13%);
    --menu-font-size: 18px;
    --body-font-size: 16px;
    --primary-color: rgb(170, 43, 64);
    --secondary-color: #330c22;
    --unit-size: 8px;
    --unit-size-xss: 4px;
    --unit-size-xs: 16px;
    --unit-size-s: 24px;
    --unit-size-m: 32px;
    --unit-size-l: 64px;
}

* {
    box-sizing: border-box;
}

body  {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
    background-color: white;
    font-size: var(--body-font-size);
    line-height: 1.6;
    display: flex;
    justify-content: center;
}

.wrapper {
    border: 2px solid var(--secondary-color);
    max-width: 1000px;
    margin: var(--unit-size) ;
    background-color:white;
    display:flex;
}

.menu { 
    display: flex;
    flex-direction: column;
    padding: var(--unit-size-xs);
}

a {
    color: var(--link-color);
    text-decoration: none;
    font-size: var(--menu-font-size);
}

.link {
    color: white;
    background-color: var(--primary-color);
    padding: var(--unit-size-xss) var(--unit-size-s);
    border-radius: 5px
}


.about-me {
    padding: var(--unit-size-m);
    border-radius: 5px;
}

.about-me__introduction {
    background-color: pink;
}