.blog-title {
  overflow: visible;
  font-size: 30px;
  font-style: oblique;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
  transition: 0.5s ease opacity;
}

.blog-title p:hover {
  opacity: 1;
}

.container {
  --content-width: 60vw;
  --gutter: 30px;
  --columns: 3;
  --row-size: calc(
    (var(--content-width) - (var(--gutter) * (var(--columns) - 1))) /
      var(--columns)
  );

  display: grid;
  margin: 0 auto;

  width: 100%;
  max-width: var(--content-width);

  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-rows: var(--row-size);

  grid-gap: var(--gutter);
}

.container > a {
  width: 100%;
}

.container img {
  object-fit: cover;
  height: 100%;
  border-radius: 100%;
}
