.wrapper-content {
  padding-top: var(--xs);
}

.introduction {
  display: flex;
  padding-bottom: 0;
}

.first-letter {
  font-size: 100px;
  line-height: 70px;
  font-family: var(--secondary-header-font);
  color: var(--primary-color);
}

.description {
  margin: 0;
  padding: 0;
  /* TODO: Find a way to replace this magic number */
  padding-top: 10%;
  font-style: italic;
}

.posts {
  display: flex;
  flex-direction: row;
}

.posts > *:not(:last-child) {
  margin-right: 20px;
}
