.wrapper-content {
  display: grid;
  grid-template-columns: 400px 1fr;

  padding-top: var(--unit-size-xs);
}

.profile-photo {
  width: 100%;
  border-radius: var(--unit-size-l);
  padding-top: 30px;
}

p {
  text-align: start;
  padding-left: var(--unit-size-l);
}
.wrapper-content h1 {
  display:flex;
  justify-content: center;
}
 .wrapper-content h3{
   padding-top: var(--unit-size-s);
 }
.container img {
  width: 50%;
}
