.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-bottom-style: inset;

  padding-top: var(--s);
}

.title {
  margin: 0;
  text-align: right;
  color: rgb(80, 80, 80);
}

.link {
  /* look up ways to evade !important and make style load first*/
  position: relative;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.photologo {
  width: 500px;
  position: absolute;

  z-index: -1;
  filter: sepia(31%) saturate(1417%) hue-rotate(156deg) brightness(114%)
    contrast(93%);
}
.links {
  display: flex;
  justify-content: center;
}

.links h2 {
  margin: var(--xs) var(--xxs);
  margin-bottom: 0;
  font-weight: 600;
}
.social-links {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
