.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 23, 151);
  border-bottom-style: inset;
  z-index: 1;
  padding-top: var(--s);
}

.logo {
  display: flex;
}

.title {
  margin: 0;
  text-align: right;
  color: rgb(255, 250, 250);
}

.link {
  /* look up ways to evade !important and make style load first*/
  position: relative;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.photologo {
  max-width: 800px;
  position: absolute;
  justify-content: left;
  z-index: -1;
  filter: sepia(56%) saturate(1514%) hue-rotate(724deg) brightness(72%)
    contrast(170%);
}
.box {
  display: flex;
  flex-direction: row;
}
.profile {
  min-width: 500px;
  min-height: 500px;

  justify-content: right;
}

.links {
  display: flex;
  justify-content: center;
}

.links h2 {
  margin: var(--xs) var(--xxs);
  margin-bottom: 0;
  font-weight: 600;
}
.social-links {
  display: flex;
  justify-content: center;
  margin-top: 400px;
}
