.footer {
  width: 100%;
  padding: var(--m);
  margin-top: var(--xs);
  background-color: var(--footer-color);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.links > * {
  padding: var(--s);
}

.title {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: white;
}
