.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container p {
  position: absolute;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(241, 241, 241);
  font-size: 30px;
}

.container img {
  filter: brightness(1);
  width: 100%;
}
