.footer {
  width: 100%;
  padding: var(--unit-size-m);
  margin-top: var(--unit-size-xs);
  background-color: var(--footer-color);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer small {
  padding: var(--unit-size-s);
  align-items: center;
  font-family: var(--secondary-header-font);
}
