.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-gap: 30px;
}

.container > a {
  display: flex;
}

.container > a div {
  display: flex;
  max-width: 96%;
  justify-content: center;
}

.container a:hover p {
  opacity: 1;
}

.container a:hover img {
  filter: brightness(30%);
  background-color: var(--primary-color);
}

.container > a p {
  margin: 0;
  align-self: center;
  position: absolute;
  font-size: 15px;
  font-style: italic;
  opacity: 0;
  color: rgb(242, 247, 248);
}

.container > a::before {
  content: "";
  display: inline;
  vertical-align: top;
  padding-bottom: 100%;
}

.container img {
  max-width: 100%;
  filter: brightness(1);
  border: 1px solid black;
  border-radius: 100%;
  object-fit: cover;
  transition: 5 ease all;
}
