.post {
  max-width: 100%;
  margin: 0 auto;
}

.post img {
  width: 300px;
  float: left;
  padding: var(--m);
  padding-left: 0;
  border-radius: 20px;
}

.post h1,
.post h2,
.post h3 {
  text-align: center;
}

.post blockquote {
  border-left: 3px solid var(--primary-color);
  font-style: italic;
}

.post blockquote > p {
  padding-left: var(--s);
}
