.post {
  max-width: 100%;
  margin: 0 auto;
}

.post img {
  min-width: 40px;
  --factor: 1.4;
  width: calc(100% + var(--l) * 2 * var(--factor));
  margin: 0 calc(-1 * var(--l) * var(--factor));
  padding: var(--m);
  border-radius: 50px;
}

.post h1,
.post h2 {
  text-align: center;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  clear: both;
}

.post > p:first-of-type:first-letter {
  font-size: 72px;
  line-height: 48px;
  font-family: var(--primary-header-font);
  color: var(--primary-color);
  float: left;
  padding: var(--xs);
}

.post-blockquote {
  display: flex;
  justify-content: center;
  float: left;
  width: 100%;
}

.post blockquote {
  font-style: italic;
  position: relative;
  font-size: x-large;
}

.post blockquote:before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  background-color: var(--primary-color);
  left: 0;
  background-color: var(--primary-color);
}

.post blockquote + * {
  clear: left;
}

.post blockquote > p {
  padding-left: var(--s);
}
