.animation-wrapper {
  transform: translateX(-100%);
  filter: blur(1px);
  opacity: 0;
  animation: slide 1s forwards;
  animation-delay: 0.5s;
}

.first {
  grid-row: span 2;
}

.third {
  grid-row: span 2;
}

.fifth {
  grid-column: span 2;
}

@keyframes slide {
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--xs);
  grid-auto-rows: 200px;
  grid-template-rows: repeat(3, 200px);
}

@media (max-width: 720px) {
  .images {
    grid-template-columns: 1fr;
  }
}
