@import url("https://fonts.googleapis.com/css?family=Calligraffitti&display=swap");

@viewport {
  zoom: 1; /* same as initial-scale=1 */
  width: device-width;
}

body,
html {
  margin: 0;
  font-size: 100%;
}

:root {
  --text-color: hsl(0, 0%, 13%);
  --link-color: hsl(0, 0%, 13%);
  --heading-font-size: 60px;
  --secondary-font-size: 28px;
  --body-font-size: 20px;
  --primary-color: white;
  --secondary-color: rgb(122, 216, 241);
  --footer-color: rgb(39, 36, 36);
  --unit-size: 8px;
  --unit-size-xss: 4px;
  --unit-size-xs: 16px;
  --unit-size-s: 24px;
  --unit-size-m: 32px;
  --unit-size-l: 64px;
  --primary-header-font: Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  --secondary-header-font: "Courier New", Courier, monospace, Helvetica,
    sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: var(--primary-header-font);
  font-size: var(--heading-font-size);
  text-align: center;
}

h2 {
  font-family: var(--secondary-header-font);
  font-size: var(--secondary-font-size);
  text-align: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text-color);
  background-color: var(--primary-color);
  font-size: var(--body-font-size);
  line-height: 2;
}
